<!---Date Pipes in Angular
<h2>Unformatted Date:{{toDate}}</h2>
<h2>Formatted Date:{{toDate|date}}</h2>
<h2>Medium Date:{{toDate|date:'medium'}}</h2>
<h2>Short Date:{{toDate|date:'shortDate'}}</h2>
<h2>Full Date:{{toDate|date:'fullDate'}}</h2>
<h2>Long Date:{{toDate|date:'longDate'}}</h2>
<h2>Full Time:{{toDate|date:'fullTime'}}</h2>
<h2>Short Time:{{toDate|date:'shortTime'}}</h2>
<h2>Long Time:{{toDate|date:'longTime'}}</h2>-->

<!--Uppercase and Lowercase Pipes in Angular-->
<!-- <h2>Original Message:{{message}}</h2>
<h2>Uppercase:{{message|uppercase}}</h2>
<h2>Lowercase:{{message|lowercase}}</h2>
<h2>Slicing:{{message|slice:-7}}</h2>
<h2>Slicing:{{message|slice:11:20}}</h2>
<h2>Slicing:{{message|slice:0:7}}</h2>
<h2>Without Formatting Price:{{price}}</h2>
<h2>Price:{{price|currency}}</h2>
<h2>Indian Price:{{price|currency:'INR'}}</h2> -->
<!-- <h2>Europe Money:{{ amount | currency:'EUR'}}</h2> -->

<!--Perecntage Pipe
<h2>A:{{a | percent}}</h2>
<h2>B:{{b | percent}}</h2> -->

<!-- <h2>{{pi | number}}</h2> -->