<style>
    h1{
        text-align: center;
    }
</style>
<h1>Employee Details</h1>

<br>
<!-- <app-pipes></app-pipes> -->
<!-- <app-list></app-list> -->

<!-- <h2>App Component</h2>
Title:<input type="text" [(ngModel)]="title">
<button (click)="addTitle()">Submit</button><br>
Disable Header<input type="checkbox" [(ngModel)]="disabledHeader">
<br>
<app-box  *ngIf=!disabledHeader [text]="titles"></app-box> -->
<!-- <app-template-driven-forms></app-template-driven-forms> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-users-lists></app-users-lists> -->
<!-- <app-employee-info></app-employee-info> -->
<app-emp-data></app-emp-data>



